In [15]:
import pandas as pd

In [16]:
salary = pd.read_csv('1-data.csv', index_col='region_name')
salary = salary.drop(['Республика Башкортостан', 'Ханты-Мансийский АО (Югра)', 'Оренбургская область'])
salary = salary.sort_values('salary')
salary.reset_index(drop=False, inplace=True) # изменение index column на нумерацию по умолчанию
salary.index += 1 # начать нумерацию с 1
salary

                        region_name  salary
1               Республика Дагестан   24550
2   Кабардино-Балкарская Республика   25318
3              Республика Ингушетия   25663
4   Карачаево-Черкесская Республика   25699
5               Республика Калмыкия   25719
..                              ...     ...
78                      Ненецкий АО   77277
79                        г. Москва   78946
80                Ямало-Ненецкий АО   86560
81                     Чукотский АО   96930
82                 Магаданская обл.  101662

[82 rows x 2 columns]

In [17]:
print(salary.loc[[15, 41, 47]]) # отобразить значения по индексу

                region_name  salary
15        Псковская область   27339
41  Калининградская область   32473
47            Пермский край   34809

In [18]:
print(salary['salary'].mean())

38720.96341463415

In [19]:
print(salary['salary'].median())

32723.0