In [4]:
import pandas as pd

In [5]:
# считываем csv-файл, за индекс принимаем cтолбец 'region_name'
salary = pd.read_csv('1-data.csv', index_col='region_name')
# удаляем регионы по заданию
salary = salary.drop(['Республика Башкортостан', 'Ханты-Мансийский АО (Югра)', 'Оренбургская область'])
# сортируем по возрастанию зарплаты
salary = salary.sort_values('salary')
salary.reset_index(drop=False, inplace=True) # изменение index column на нумерацию по умолчанию
salary.index += 1 # начать нумерацию с 1
salary

                        region_name  salary
1               Республика Дагестан   24550
2   Кабардино-Балкарская Республика   25318
3              Республика Ингушетия   25663
4   Карачаево-Черкесская Республика   25699
5               Республика Калмыкия   25719
..                              ...     ...
78                      Ненецкий АО   77277
79                        г. Москва   78946
80                Ямало-Ненецкий АО   86560
81                     Чукотский АО   96930
82                 Магаданская обл.  101662

[82 rows x 2 columns]

In [6]:
print(salary.loc[[15, 41, 47]]) # отобразить значения по индексу

                region_name  salary
15        Псковская область   27339
41  Калининградская область   32473
47            Пермский край   34809

In [7]:
round(salary['salary'].mean(), 2) # средняя зарплата

38720.96

In [8]:
round(salary['salary'].median(), 2) # медианная зарплата

32723.0