In [7]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [8]:
df = pd.read_csv('1-data.csv')
df

   id   X   Y
0   1   6  19
1   2   3  11
2   3  10  24
3   4   4  14
4   5   2   7
5   6  11  26
6   7  23  62
7   8  21  47
8   9  20  48
9  10  14  27

In [9]:
print(df['X'].mean())
print(df['Y'].mean())

11.4
28.5

In [10]:
line = LinearRegression()
line.fit(df[['X']], df['Y'])

print(line.coef_[0])
print(line.intercept_)

2.253801593048516
2.8066618392469174

In [11]:
print(line.score(df[['X']], df['Y']))

0.953605092046016